$container-xl: 1312px;
$container-lg: 960px;
$container-md: 720px;
$container-sm: 540px;

.container {
  @include container();
  @include sm(max-width, $container-sm);
  @include md(max-width, $container-md);
  @include lg(max-width, $container-lg);
  @include xl(max-width, $container-xl);
}

.row {
  @include row-flex();
}

@mixin trans($prop, $timing-function, $dur) {
  transition: {
    property: $prop;
    @if $dur {
      duration: $dur;
    } @else {
      duration: $duration;
    }
    timing-function: $timing-function;
  }
}

$levels: (
    media:      (#{$break_xs}, #{$break_sm}, #{$break_md}, #{$break_lg}, #{$break_xl}),
    //          320       576      768      968      1280
    level_5:     (8px,  8px,  12px, 16px, 16px),
    level_10:    (12px, 12px, 16px, 24px, 24px),
    level_15:    (12px, 16px, 24px, 32px, 32px),
    level_20:    (24px, 32px, 40px, 56px, 56px),
    level_30:    (32px, 32px, 40px, 80px, 96px),
);

@mixin margin($direction, $color) {

    $mapGet: map-get($levels, $color);
    margin-#{$direction}: nth($mapGet, length($mapGet));

    @for $i from 1 through length($mapGet) - 1 {
        $mediaName: nth(map-get($levels, media), $i);

        @media (max-width: $mediaName) {
            margin-#{$direction}: nth($mapGet, $i);
        }
    }
}

@mixin padding($direction, $color) {

  $mapGet: map-get($levels, $color);
  padding-#{$direction}: nth($mapGet, length($mapGet));

  @for $i from 1 through length($mapGet) - 1 {
      $mediaName: nth(map-get($levels, media), $i);

      @media (max-width: $mediaName) {
        padding-#{$direction}: nth($mapGet, $i);
      }
  }
}
