mixin socials({className})
    ul.socials(class=className)
        li.socials__item.socials__item_vk
            a.socials__link(href="#")
                +icon({
                    className: 'svg-icon socials__img',
                    svgName: 'vk'
                })
        li.socials__item.socials__item_facebook
            a.socials__link(href="#")
                +icon({
                    className: 'svg-icon socials__img',
                    svgName: 'facebook'
                })
        li.socials__item.socials__item_twitter
            a.socials__link(href="#")
                +icon({
                    className: 'svg-icon socials__img',
                    svgName: 'twitter'
                })
        li.socials__item.socials__item_odnoklassniki
            a.socials__link(href="#")
                +icon({
                    className: 'svg-icon socials__img',
                    svgName: 'odnoklassniki'
                })
        li.socials__item.socials__item_trip
            a.socials__link(href="#")
                +icon({
                    className: 'svg-icon tripadvisor',
                    svgName: 'tripadvisor'
                })
