extends layouts/default
include helpers/mixins
include ../blocks/modules/header/header
include ../blocks/modules/main/main

block variables
	- const title = "Automaster.uz 2.0"

block content
	.site-container
		section.content
			+header({})
			+main({})

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
