include ../section-header/section-header
include ../section-service/section-service
include ../section-start/section-start

mixin main()
    -
        const
            titleTextCard = 'Сайт-визитка'
            paragraphTextCard = 'Сайт с необходимым набором функций и адаптивной вёрсткой для быстрого старта, чтобы заявить о себе в интернете. Подходит как временное решение или тестирование своей ниши в интернете.'
            titleTextCorporate = 'Корпоративный сайт'
            paragraphTextCorporate = 'Имеет функционал, который имеет сайт-визитка. На данном сайте Вы сможете добавить любое количество своих услуг, а также сделать каталог товаров. Будет доступно создание и вывод Ваших новостей и тематических статей под Ваш бизнес, что позволит намного дешевле продвигаться в интернете.'
            titleTextShop = 'Интернет-магазин'
            paragraphTextShop = 'Полноценный интернет-магазин с добавлением и выводом категорий и товаров. Удобная CMS (админка панель) позволит быстро добавлять и редактировать Ваш товар, а также другие необходимые страницы. Имеет необходимый функционал для SEO.'
            titleTextLanding = 'Landing Page'
            paragraphTextLanding = 'Вы имеете один товар или услугу (или несколько), и хотите рассказать клиентам все преимущества в ярких красках. Landing Page – решение всех проблем. Запускайте рекламу и клиенты будут уже у Вас.'
    main.main
        +section-header()
        +section-service({
            parentClass: 'section-card',
            titleText: titleTextCard,
            paragraphText: paragraphTextCard,
        })
        +section-service({
            parentClass: 'section-corporate',
            titleText: titleTextCorporate,
            paragraphText: paragraphTextCorporate,
            overlay: '',
        })
        +section-service({
            parentClass: 'section-shop',
            titleText: titleTextShop,
            paragraphText: paragraphTextShop,
        })
        +section-service({
            parentClass: 'section-landing',
            titleText: titleTextLanding,
            paragraphText: paragraphTextLanding,
            overlay: '',
        })
        +section-start({})
