mixin copyright({className = false})
    .copyright(class=className)
        p.copyright__p © 2015. Все права защищены.
        .copyright__languages Язык: 
            a(class="copyright__language copyright__language_active" href="/") RU 
            | /
            a(class="copyright__language" href="/")  ENG
