.section-header {
    background: {
        image: url(../img/section-bg/section-header.jpg);
    }
    &__scroll-direction {
        position: absolute;
        bottom: 0;
        left: 110px;
    }
}