.btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0;
    border: none;
    padding: 0;
    transition: $duration;
    font: {
        family: inherit;
        size: rem($text-big);
    }
    padding: {
        top: 20px;
        right: 82px;
        bottom: 17px;
        left: 80px;
    };
    background: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background: $section-gradient;
    border-radius: 29px;

    &:after {
        position: absolute;
        z-index: -1;
        left: 18px;
        top: 100%;
        transform: translate(0, -125%) rotate(45deg);
        background-color: inherit;
        pointer-events: none;
        transition: {
            property: transform;
            duration: $duration;
        };
    }
    &:hover {
        &::after {
            transform: translate(0, -50%) rotate(45deg);
        }
    }
}
.btn_theme {
    &_primary {
        color: $white;
        background-color: $green;

        &:hover, &.active {
            color: $green;
            background-color: $blue;
        }
    }
    &_blue {
        color: $green;
        background-color: $blue;

        &:hover, &.active {
            color: $white;
            background-color: $green;
        }
    }
    &_transparent {
        background: transparent;
        color: $green;
        padding: {
            top: 16px;
            right: 62px;
            bottom: 13px;
            left: 62px;
        };
        border: {
            width: 4px;
            style: solid;
            color: $green;
        }
    }
}
.btn_size {
    &_standard {
        min-width: rem(230);
        padding: rem(9) rem(18);
        font-size: rem(12);
    }
    &_large {
        min-width: rem(250);
        padding: rem(13) rem(25);
        font-size: rem(15);
    }
}
